.titre {
  width: 40%;
  display: block;
  margin: 20px auto 200px auto;
}
.pokeball{
    width: 5%;
    display: block;margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .pokeball {
    animation: Pokeball-spin infinite 0.3s linear;
  }
}


@keyframes Pokeball-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}