@font-face {
  font-family: "Pokemon";
  src: url("../fonts/Pokemon\ Classic.ttf");
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.button {
  font-family: "Pokemon";
  font-size: 10px;
  margin: 10px;
  padding: 0 20px;
  height: 30px;
  border: 2px solid #313131;
  transition: all 0.1s ease-in-out;
  width: 150px;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 3px 2px black;
}
