@font-face {
  font-family: "Pokemon";
  src: url("../fonts/Pokemon\ Classic.ttf");
}

.commentBox {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  font-family: "Pokemon";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 7px 5px 2px rgba(00, 00, 00, 0.5);
  margin-bottom: 20px;
  padding: 10px;
  background-color: #a1a1a1;
  color: #313131
}

.C-container {
  display: flex;
  justify-content: center;
}