@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

.boxEndgame *{
    font-family: 'Baloo Paaji 2', cursive;
}



.boxEndgame {
    width: 1200px;
    height: 766px;
    border : 3px solid #313131 ;
    background-color: #A1A1A1;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: -30px;

}
.boxEndgame h3 {
    margin-bottom: 60px;
    text-align: center;
    font-size: 23px;
    
}


.EndGame-line1 , .StatusBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}


/* PROGRESS BAR */

.stat-name{
    width: 150px;
    text-align: center;
    line-height: 20px;
}

.myProgress {
    width: 30%;
    background-color: white;
    text-align: center;   
    height: 20px;
    border-radius: 30px;
}

.myProgress:nth-of-type(1){
    display: flex;
    justify-content: flex-end;
}


.myBar1 {
    width: 25%;
    background-color: rgb(255, 7, 7);
    height: 20px;
    border-radius: 30px;

}
    
.myBar2 {
    width: 75%;
    background-color: rgb(24, 27, 204);
    height: 20px;
    border-radius: 30px;

}

/* STATS GLOBAL */

.EndGame-stat-global {
    text-align: left;
    width: 40%;
    margin: 100px auto;
    background-color: #fff;
    border: 2px solid #313131 ;
    border-radius: 5px;
    padding: 20px;
}

.EndGame-stat-global p {
    margin-bottom: 10px;
}

/* BUTTON */

.button-endgame {
    display: flex;
    justify-content: center;
}

.button-endgame button{
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1.2rem;
    background-color: #313131;
    color: #fff;
    margin: 0 10px;
    padding: 0 30px;
    height: 40px;
    border: 2px solid #313131;
    transition: all .1s ease-in-out;
}

.button-endgame button:nth-of-type(1){
    background-color: #CF283A;
    border: 2px solid transparent;
}

.button-endgame button:hover{
    cursor: pointer;
    transform: scale(1.1);
}


