.fight {
  width: 50%;
}

.fight-container{
  display: flex;
  justify-content: space-around;
}

.fight-left, .fight-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space{
  height: 150px;
}
