@font-face {
  font-family: "Pokemon";
  src: url("../fonts/Pokemon\ Classic.ttf");
}

.fight {
  width: 70%;
  background-color: #fff;
  border-radius: 5px;
  margin: 150px auto 0 auto;
}

.fight-container {
  display: flex;
  justify-content: space-around;
}

.fight-container .pokemon-sprite {
  width: 200px;
}

.fight-left, .fight-right {
  width: 50%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.actions-right, .actions-left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.actions-right{
  flex-direction: row-reverse;
}

.fight .turn-text {
  background-color: rgb(197, 47, 47);
  /* width: 30%; */
  color: #fff;
  padding: 10px 30px;
  font-family: "Pokemon";
  border-radius: 5px;
}

.fight .turn-text p {
  text-align: center;
  font-size: 80%;
}

@media screen and (max-width: 600px) {
  .fight {
    width: 100%
  }
  .actions-right{
    flex-direction: column;
  }
  .actions-left{
    flex-direction: column;
  }
  .fight .turn-text {
    padding: 75px 10px;
    margin: 54px 4px 0 4px;
    height: 22px;
    /* width: 130px; */
  }
  .fight-container .pokemon-sprite {
    width: 150px;
  }
}