.titre {
  width: 40%;
  display: block;
  margin: 5% auto;
  animation: titleDown 1.5s forwards;
  position: relative;
}
.pokeball{
    width: 0%;
    margin: 0 auto;
    display: block;
    animation: grow 1.3s 2s forwards;
    transition: 0.2s ease-out;
}

.pokeball:hover {
    transform: scale(1.089);
    cursor: pointer;
}

@keyframes  titleDown { 
    0% {top: -350px}
    70% {top: 0px}
    85% {top: -50px}
    100% {top: 0px}}

@keyframes grow {
    from {width: 0%;}
    to {width: 13%;}
}
