* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 1;
}

.sousnavbar {
  display: flex;
  background-color: #313131;
  color: white;
}

.sousnavbar .navlogo img {
  width: 200px;
  padding: 15px;
}

.sousnavbar .navlogo .burger {
  display: none;
}

.sousnavbar .links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.sousnavbar .links ul li {
  padding: 0;
  margin: 0;
  height: 100%;
  /*white-space: nowrap;*/
  border-left: 1px solid white;
}

.sousnavbar .links ul li.new-game {
  border-bottom: 5px solid orange;
}

.sousnavbar .links ul li.pokedex {
  border-bottom: 5px solid turquoise;
}

.sousnavbar .links ul li.classement {
  border-bottom: 5px solid lime;
}

.sousnavbar .links ul li.contact {
  border-bottom: 5px solid crimson;
}

.sousnavbar .links ul li a {
  display: flex;
  align-items: center;
  color: white;
  padding: 0 30px;
  font-size: 20px;
  height: 100%;
  text-decoration: none;
}

.new-game:hover {
  background-color: orange;
}

.pokedex:hover {
  background-color: turquoise;
}

.classement:hover {
  background-color: lime;
}

.contact:hover {
  background-color: crimson;
}

/* css pour menu burger*/
.burger {
  width: 45px;
  height: 32px;
  cursor: pointer;
  position: relative;
}

.burger span {
  width: 100%;
  height: 4px;
  background-color: orange;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.5s ease-in-out;
}

.burger span::before,
.burger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: orange;
  transition: transform 0.5s ease-in-out;
}

.burger span::before {
  transform: translateY(-10px);
}

.burger span::after {
  transform: translateY(10px);
}

.burger.active span {
  background-color: transparent;
}

.burger.active span::before {
  transform: translateY(0px) rotate(45deg);
}

.burger.active span::after {
  transform: translateY(0px) rotate(-45deg);
}

@media screen and (max-width: 800px) {
  .navbar {
    background: #313131;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 230px;
    left: -230px;
    transition: all 0.2s;
    left: -230px;
  }
  .navbar.isOpen {
    left: 0;
  }

  .sousnavbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 0px;
  }

  .sousnavbar .navlogo {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid red;
    /*justify-content: space-between;*/
  }

  .sousnavbar .navlogo img {
    width: 180px;
  }

  .sousnavbar .navlogo .burger {
    position: absolute;
    top: 10px;
    right: -50px;
    display: block;
  }

  .sousnavbar .links {
    width: 100%;
  }

  .sousnavbar .links ul {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .sousnavbar .links ul li {
    width: 100%;
    height: 80px;
  }
}
