
/* Poké Styles */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.loading-box{
  width: 70%;
  background-color: #fff;
  padding: 50px 0;
  margin: auto;
}

.loading-box img {
  position: relative;
  overflow: hidden;
  display: block;
  margin: auto;
  width: 100px;
  z-index: 1;
  animation: fall .25s ease-in-out,
            shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;
}

  /* Animation */
  @keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
  }
  @keyframes shake {
    0 { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
  }
  @keyframes fall {
    0% { top: -200px }
    60% { top: 0 }
    80% { top: -20px }
    100% { top: 0 }
  }