.Potions {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.Potions img {
  height: 40px;
  transition: 0.1s ease-out;
}

.Potions img:nth-of-type(2) {
  margin-top: 10px;
}

.Potions img:hover {
  cursor: pointer;
  transform: scale(1.1);
}