@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap%27");

#container {
  display: flex;
  justify-content: space-evenly;
  font-family: "Baloo Paaji 2", cursive;
  margin-top: 200px;
  width: 70%;
}

.player {
  margin: 30px;
  width: 40%;
}

.player h3 {
  text-align: center;
  border-bottom: 1px solid #fff;
}
/* .player hr {
  width: 100%;
  
} */

.list {
  list-style: none;
}

.listContainer {
  display: flex;
  justify-content: center;
}

#pts,
#times {
  padding-left: 60px;
}

@media screen and (max-width: 800px) {
  #container {
    flex-direction: column;
    align-items: center;
    margin: 125px auto 50px auto;
  }
  .player {
    width: 100%;
  }

}
