@font-face {
  font-family: "Pokemon";
  src: url("../fonts/Pokemon\ Classic.ttf");
}

.statut {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-family: "Pokemon";
  margin: 10px;
  background-color: white;
}

.name {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  color: #313131
}
.name p {
  font-size: 80%;
}

.pv {
  display: flex;
  border: 2px solid black;
  border-color: #313131;
  border-radius: 10px;
  color: #fe8a00;
  background-color: #313131;
  font-size: 10px;
  width: 100%;
  padding-left: 5px;
  align-self: center;
}

.health {
  display: flex;
  background-color: rgb(100, 182, 75);
  border-radius: 10px;
  width: 100%;
  padding-left: 5px;
  transition: width 0.4s ease-in;
}