@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap%27");

* {
    margin: 0;
    padding: 0;
}

#transition-pic {
    width: 0px;
    z-index: 3;
    display: none;
    position: absolute;
    top: 100px;
    animation: zoom .5s ease-out forwards;
}
@keyframes zoom {
    from {width: 0px}
    to {width: 400px}
}

.container {
    width: 700px;
    border: 30px solid #fff;
    margin-top: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

.left, .right{
    padding: 50px;
}
.left {
    width: 50%;
}

.left img, .right img{
    width: 100%;
}
.right {
    width: 50%;
}

.white {
    background-color: #fff;
    width: 100px;
    height: 100px;
    position: absolute; 
    transform: translate(-50%, -50%);
    left: 50%; 
    top: 50%;
    border-radius: 100%;
    display: flex; 
    justify-content: center;
}

#count {
    align-self: center;
    font-size: 90px;
    color: #000;
    font-family: "Baloo Paaji 2", cursive;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        overflow: hidden;
        width: 60%;
        margin: 125px auto 50px auto;

    }
    .left, .right {
        width: 100%;
    }
}