.poison {
  background-color: rgb(127, 107, 218);
}

.fire {
  background-color: rgb(204, 145, 78);
}

.water {
  background-color: rgb(69, 138, 194);
}

.flying {
  background-color: rgb(115, 116, 115);
}

.grass {
  background-color: rgb(100, 182, 97);
}

.bug {
  background-color: rgb(48, 99, 46);
}

.normal {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  color: black;
  line-height: 18px;
}

.electric {
  background-color: rgb(205, 214, 77);
}

.ground {
  background-color: rgb(146, 145, 58);
}

.fighting {
  background-color: rgb(92, 67, 39);
}

.psychic {
  background-color: rgb(26, 22, 80);
}

.fairy {
  background-color: rgb(233, 143, 213);
}

.rock {
  background-color: rgb(92, 92, 92);
}

.steel {
  background-color: rgb(184, 184, 184);
}

.dark {
  background-color: rgb(20, 20, 20);
}

.dragon {
  background-color: rgb(116, 27, 27);
}

.ice {
  background-color: rgb(145, 193, 199);
}

.ghost {
  background-color: rgb(85, 26, 141);
}
