@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap%27");
@font-face {
  font-family: "Pokemon";
  src: url("../fonts/Pokemon\ Classic.ttf");
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Baloo Paaji 2", cursive;
  /*font-family: Pokemon;*/
}

#container {
  background-color: #a1a1a1;
}

.text {
  width: 20%;
  margin: 15px;
  padding: 10px;
  background-color: #494949;
  border: 0;
  border-radius: 5px;
  color: #f1f1f1;
  font-family: Pokemon;
  min-width: 200px;
}

#message {
  height: 75px;
}

#button {
  width: 7em;
  border: 0;
  background-color: grey;
  cursor: pointer;
  margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .text {
    width: 80%;
  }
}
