@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap%27");

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Baloo Paaji 2", cursive;
}

#container {
  background-color: #a1a1a1;
}

.text {
  width: 25%;
  margin: 15px;
  padding: 10px;
}

#message {
  height: 75px;
}

#button {
  width: 7em;
}
