@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap%27");

#container {
  display: flex;
  font-family: "Baloo Paaji 2", cursive;
  background-color: #a1a1a1;
}

.player {
  margin: 30px;
  width: 40%;
}

.list {
  list-style: none;
}

.listContainer {
  display: flex;
}

#pts,
#times {
  padding-left: 200px;
}
