body {
    background-color: #4a524f;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    /* height: 100%; */
}