body {
  background-color: #4a524f;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diag-pack {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.diag-pack img {
  width: 200px;
  margin-right: 42px;
}

.global-Pokedex,
.boxEndgame {
  margin: 150px auto;
}

a {
  text-decoration: none;
}

.link {
  color: #000;
}

.header {
  align-self: center;
}

.pokeball-diag {
  width: 100px;
  margin-top: 150px;
  margin-bottom: -40px;
  animation: shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

.pokedex-container {
  margin-top: -150px;
}
